<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codeman.mapper.SkuStockMapper">
        <!--两个foreach相互联系，确保id都相同c-->
        <update id="updateStock">
            UPDATE sku_stock
            SET
            lock_stock = CASE id
            <foreach collection="orderTableList" item="order">
                WHEN #{order.productSkuId} THEN lock_stock - #{order.productQuantity}
            </foreach>
            END
            WHERE id IN
            <foreach collection="orderTableList" item="order" separator="," open="(" close=")">
                     #{order.productSkuId}
            </foreach>
        </update>

    </mapper>
